In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/fbd_us_without_satellite_jun2016_v1.csv")

/usr/local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,LogRecNo,Provider_Id,FRN,ProviderName,DBAName,HoldingCompanyName,HocoNum,HocoFinal,StateAbbr,BlockCode,TechCode,Consumer,MaxAdDown,MaxAdUp,Business,MaxCIRDown,MaxCIRUp
0,1,20744,20048088,Computer Technologies Group,"Mobius Internet, I.T. and Communications","Mobius Internet, I.T. and Communications",340047,"Mobius Internet, I.T. and Communications",LA,220330001001000,70,1,50.0,50.0,1,250.0,250.0
1,2,20744,20048088,Computer Technologies Group,"Mobius Internet, I.T. and Communications","Mobius Internet, I.T. and Communications",340047,"Mobius Internet, I.T. and Communications",LA,220330001001001,70,1,50.0,50.0,1,250.0,250.0
2,3,20744,20048088,Computer Technologies Group,"Mobius Internet, I.T. and Communications","Mobius Internet, I.T. and Communications",340047,"Mobius Internet, I.T. and Communications",LA,220330001001002,70,1,50.0,50.0,1,250.0,250.0
3,4,20744,20048088,Computer Technologies Group,"Mobius Internet, I.T. and Communications","Mobius Internet, I.T. and Communications",340047,"Mobius Internet, I.T. and Communications",LA,220330001001003,70,1,50.0,50.0,1,250.0,250.0
4,5,20744,20048088,Computer Technologies Group,"Mobius Internet, I.T. and Communications","Mobius Internet, I.T. and Communications",340047,"Mobius Internet, I.T. and Communications",LA,220330001001004,70,1,50.0,50.0,1,250.0,250.0

In [4]:
for c in df.columns:
    print c

LogRecNo
Provider_Id
FRN
ProviderName
DBAName
HoldingCompanyName
HocoNum
HocoFinal
StateAbbr
BlockCode
TechCode
Consumer
MaxAdDown
MaxAdUp
Business
MaxCIRDown
MaxCIRUp

In [7]:
df.to_csv("data/fbd_us_without_satellite_jun2016_v1.psv",sep="|",index=False)